* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    /* Center the canvas in the center of the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Setting max width and height so that we can always
    see the entire canvas regardless of width or height */

    max-width: 100%;
    max-height: 100%
}

#capy {
    display: none;
}

#layer1, #layer2, #layer3, #layer4, #wolf, #snake, #hedgehog, #bee, #mantis, #wizard, #wolf-reverse, #hedgehog-reverse, #obelisk, #wizard-idle {
    display: none;
}
