body {
    margin: 0;
    overflow: hidden;
}
.outer-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    background-color: blue;
}
canvas {
    background-color: orange;
}
